/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
footer #footer_navi ul {
    list-style: none;
    margin:0;
    padding: 0;
    text-align: center;
}

footer {
    background-color: #f0f0f0;
    text-align: center;    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}

footer #footer_navi {
    background-color: #f0f0f0;
    padding: 10px 0;
}

footer #footer_navi li {
    display: inline;
    border-left: solid 1px #333;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
}

footer #footer_navi li:last-child {
    border-right: solid 1px #333;
    padding: 0 8px;
}

footer small {
  display: inline-block;
  padding: 8px 0;
  color: black;
}
*/

#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #EDBC6C;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}


#img_field:hover {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

/* User詳細 */


.wrapper #sidebar .card{
  margin-top: 30px;
}

.wrapper #sidebar .card .card-body .card-title{
  display: block;
  text-align: center;
}
.wrapper #sidebar .card .card-body .artist-name{
  color: #696969;
}
.wrapper #sidebar .card .card-body h5{
  color: #c0c0c0;
}

.wrapper #sidebar .card .card-body .card-text ul {
  margin: 0 auto 10px;
  padding: 0;
  display: table;
}
.wrapper #sidebar .card .card-body .card-text ul li {
  width: 100px;
  padding: 5px 0;
  border-right: 1px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #777;
}
.wrapper #sidebar .card .card-body .card-text ul li:last-child {
  border: none;
}

.wrapper #sidebar .card .card-body .card-text .sns-icon {
  text-align: center;
}

.wrapper #sidebar .card .card-body .card-text .edit-button {
  margin-top: 20px;
  text-align: center;
}

p.introduction {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#sidebar.active {
  margin-left: -550px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    transition: all 0.5s;
}

/*User一覧 */
.row .card-deck .card{
  margin-top: 30px;
}

.row .card-deck .card .card-body .card-title{
  display: block;
  text-align: center;
}
.row .card-deck .card .card-body .artist-name{
  color: #696969;
}
.row .card-deck .card .card-body h5{
  color: #c0c0c0;
}

.row .card-deck .card .card-body .card-text ul {
  margin: 0 auto 10px;
  padding: 0;
  display: table;
}
.row .card-deck .card .card-body .card-text ul li {
  width: 100px;
  padding: 5px 0;
  border-right: 1px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #777;
}
.row .card-deck .card .card-body .card-text ul li:last-child {
  border: none;
}
p.introduction {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* User編集 */
.row .card {
  display: block;
  text-align: center;
}


/* 新規登録 */
.signup-form{
  padding: 100px;
}

/* ログイン */
.signin-form{
  padding: 100px;
}

/* Artpost 詳細 */
.row .artpost{
  padding: 100px;
}

.row .artpost-users{
  padding: 100px;
}